* {
  padding: 0;
  margin: 0;
}
/*
card 常用結構會有4層，由外而內為
container>row>column>card
*/
.container {
 margin-left: auto;
 margin-right: auto;
 width: 100%;
}
/*
在container設定RWD的尺寸，因為container是最外圍的容器
RWD由大尺寸做到小尺寸(較好修正)
所以使用max-width判斷小於條件時有效
*/
@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.card {
  
  padding-top: 100%;
  
}
.w-25 {
  width: 25%;
}