* {
  padding: 0;
  margin: 0;
}
/*
card 常用結構會有4層，由外而內為
container>row>column>card
*/
.container {
 margin-left: auto;
 margin-right: auto;
 width: 100%;
}
/*
在container設定RWD的尺寸，因為container是最外圍的容器
RWD由大尺寸做到小尺寸(較好修正)
所以使用max-width判斷小於條件時有效
*/
@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.column {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.card {
  padding-top: 100%;
  position: relative;
  padding-bottom: 20px;
  margin: 16px 16px;
 }
.w-25 {
  width: 25%;
}
.icon-vector {
  position: absolute;
  top: 16px;
  right: 16px;
  margin-bottom: -100px;
}
.card-tag {
  background-color: #FFEC3D;
  border-radius: 20px;
  font-family: Noto Sans CJK TC;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  width: 80px;
  height: 32px;
  align-items: flex-start;
  margin: 8px 0px;
  position: static;
  top: 4px;
  left: 8px;
  text-align: center;
  padding-top: 6px;
}
.sight {
  color: #FEFEFE;
  font-family: Noto Sans CJK TC;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}
.Loc-icon {
  display: flex;
  position: relative;
}
.Loc-icon img{
  
}
.Location {
  font-family: Noto Sans CJK TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
   color: #FFFFFF;

}